<template>
  <fragment>
    <div class="text-center" v-if="loading">
      <slot name="loader"></slot>
    </div>
    <slot v-else></slot>
  </fragment>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "LoadingWrapper",
  props: {
    loading: {
      type: Boolean,
      required: true
    }
  }
});
</script>
