<template>
  <v-container>
    <v-row>
      <v-col>
        <div v-if="includeBackButton">
          <v-btn text to="/">
            <v-icon dark left>mdi-arrow-left</v-icon>Back to list
          </v-btn>
        </div>
        <slot name="header"></slot>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <slot></slot>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "SingleColumnLayout",
  props: {
    includeBackButton: {
      type: Boolean,
      default: false
    }
  }
});
</script>
