<template>
  <PostDetailDisplay />
</template>

<script lang="ts">
import Vue from "vue";
import PostDetailDisplay from "@/components/PostDetailDisplay.vue";

export default Vue.extend({
  name: "PostDetails",

  components: { PostDetailDisplay }
});
</script>
