<template>
  <SingleColumnLayout>
    <template #header>
      <v-flex class="d-flex">
        <h1>Posts</h1>
        <v-spacer />
        <v-btn align-end class="mx-2" fab dark color="primary" to="/create">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-flex>
    </template>

    <PostListTable />
  </SingleColumnLayout>
</template>

<script lang="ts">
import Vue from "vue";
import SingleColumnLayout from "@/components/layout/SingleColumnLayout.vue";
import PostListTable from "@/components/PostListTable.vue";

export default Vue.extend({
  name: "PostList",

  components: { PostListTable, SingleColumnLayout }
});
</script>
