<template>
  <PostCreateForm />
</template>

<script lang="ts">
import Vue from "vue";
import PostCreateForm from "@/components/PostCreateForm.vue";

export default Vue.extend({
  name: "PostCreate",

  components: { PostCreateForm }
});
</script>
