<template>
  <SingleColumnLayout :includeBackButton="true">
    <LoadingWrapper :loading="$apollo.loading">
      <template #loader>
        <v-row>
          <v-col>
            <v-skeleton-loader
              ref="skeleton"
              type="article, list-item@3"
              class="mx-auto"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
      </template>

      <v-row>
        <v-col>
          <h1>{{ postDetails.title | capitalize }}</h1>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          {{ postDetails.body | capitalize }}
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div class="mb-2"><h4>Comments:</h4></div>
          <div v-if="comments.length > 0">
            <v-simple-table>
              <tbody>
                <tr v-for="comment in comments" :key="comment.id">
                  <td class="pt-5">
                    <p>
                      <b>{{ comment.name | capitalize }}</b
                      ><br />
                      {{ comment.email }}
                    </p>

                    <p>{{ comment.body | capitalize }}</p>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
          </div>
          <div v-else>
            No comments to display
          </div>
        </v-col>
      </v-row>
    </LoadingWrapper>
  </SingleColumnLayout>
</template>

<script lang="ts">
import Vue from "vue";
import SingleColumnLayout from "@/components/layout/SingleColumnLayout.vue";
import LoadingWrapper from "@/components/layout/LoadingWrapper.vue";
import { fetchPostDetailsGql } from "@/api/posts/postDetailsFetch";

export default Vue.extend({
  name: "PostDetailDisplay",

  components: { LoadingWrapper, SingleColumnLayout },
  data: function() {
    return {
      postDetails: {},
      comments: []
    };
  },
  apollo: {
    postDetails: {
      query: fetchPostDetailsGql,
      variables: function() {
        return {
          postId: this.$route.params.id
        };
      },
      result: function(data) {
        // @ts-ignore
        this.postDetails = data.data.postDetails;
        // @ts-ignore
        this.comments = data.data.comments;
      }
    }
  }
});
</script>
