<template>
  <SingleColumnLayout :includeBackButton="true">
    <template #header>
      <div class="mt-5">
        <h1>New Post</h1>
      </div>
    </template>

    <v-form ref="form" @submit.prevent="createPost">
      <v-row>
        <v-col>
          <v-text-field label="Title" v-model="title" :rules="titleRules" />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-textarea
            label="Description"
            v-model="description"
            :rules="descriptionRules"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn type="submit" color="primary">Submit</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </SingleColumnLayout>
</template>

<script lang="ts">
import Vue from "vue";
import SingleColumnLayout from "@/components/layout/SingleColumnLayout.vue";
import { requiredField } from "@/utils/validationRules";
import { createPostGql } from "@/api/posts/postCreate";

export default Vue.extend({
  name: "PostCreateForm",
  components: { SingleColumnLayout },
  data: function() {
    return {
      title: "",
      description: "",
      userId: 1,

      titleRules: requiredField("Title"),
      descriptionRules: requiredField("Description")
    };
  },
  computed: {
    form(): Vue & {
      validate: () => boolean;
      reset: () => void;
      resetValidation: () => void;
    } {
      return this.$refs.form as Vue & {
        validate: () => boolean;
        reset: () => void;
        resetValidation: () => void;
      };
    }
  },
  methods: {
    resetForm: function() {
      this.form.reset();
    },
    createPost: function() {
      if (!this.form.validate()) {
        console.log("invalid form");
        return;
      }
      const input = {
        title: this.title,
        body: this.description,
        userId: this.userId
      };
      this.resetForm();

      this.$apollo
        .mutate({
          // Query
          mutation: createPostGql,
          // Parameters
          variables: {
            input
          },
          // Optimistic UI
          // Will be treated as a 'fake' result as soon as the request is made
          // so that the UI can react quickly and the user be happy
          optimisticResponse: {
            __typename: "Mutation",
            createPost: {
              __typename: "Post",
              id: -1,
              ...input
            }
          }
        })
        .then(data => {
          // Success result
          console.log(data);
          this.$router.push("/");
        })
        .catch(error => {
          console.error(error);
          // Restore the initial user input
          this.title = input.title;
          this.description = input.body;
        });
    }
  }
});
</script>
