<template>
  <LoadingWrapper :loading="$apollo.loading">
    <template #loader>
      <v-skeleton-loader
        ref="skeleton"
        type="list-item@10"
        class="mx-auto"
      ></v-skeleton-loader>
    </template>
    <v-data-table :items="posts" :items-per-page="10" class="elevation-2">
      <template #body="slotProps">
        <tr
          v-for="item in slotProps.items"
          :key="item.id"
          @click="goToPage(item.id)"
          class="clickable-row"
        >
          <td>{{ item.title | capitalize }}</td>
        </tr>
      </template>
    </v-data-table>
  </LoadingWrapper>
</template>

<script lang="ts">
import Vue from "vue";
import LoadingWrapper from "@/components/layout/LoadingWrapper.vue";
import { fetchPostsGql } from "@/api/posts/postListFetch";

export default Vue.extend({
  name: "PostListTable",

  components: { LoadingWrapper },
  data: function() {
    return {
      posts: []
    };
  },
  methods: {
    goToPage: function(id: number) {
      this.$router.push({ name: "PostDetails", params: { id: `${id}` } });
    }
  },
  apollo: {
    posts: fetchPostsGql
  }
});
</script>

<style scoped lang="scss">
.clickable-row {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
</style>
